@font-face {
    font-family: 'Century Gothic';
    src: local('Century Gothic'), local('CenturyGothic'),
        url('CenturyGothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

