<!-- Start Footer -->
<!-- <footer class="main-footer">
    <div class="container-fluid">

        <ul class="social">
            {% if site.facebook %}<li><a href="{{ site.facebook }}"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a></li>{% endif %}
            {% if site.twitter %}<li><a href="{{ site.twitter }}"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>{% endif %}
            {% if site.instagram %}<li><a href="{{ site.instagram }}"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a></li>{% endif %}
            {% if site.youtube %}<li><a href="{{ site.youtube }}"><svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg></a></li>{% endif %}
            {% if site.skype %}<li><a href="{{ site.skype }}"><svg class="icon icon-skype"><use xlink:href="#icon-skype"></use></svg></a></li>{% endif %}
            {% if site.feed %}<li><a href="#"><svg class="icon icon-feed"><use xlink:href="#icon-feed"></use></svg></a></li>{% endif %}
        </ul>

        <small>{% if site.copyright %} {{ site.copyright }} {% endif %}</small>

    </div>
</footer> -->
<!-- End Footer -->
<!-- Start Footer -->
<footer class="footer section bg-black">
    <div class="container">
        <div class="top text-center pb-5">
            <h5 class="grey-lighter">Discover the difference of Eltham Family Dental</h5>
        </div>
        <div class="bottom pt-5 text-center text-lg-left small">
            <div class="row">
                <div class="col-lg-3"> <a href="{{"/" | relative_url}}"><img src="{{"svg/min/logo.svg" | relative_url}}" alt="logo" class="img-fluid" width="130"></a>
                    <div class="smaller">
                        <p class="grey mt-5">{% if site.copyright %} {{ site.copyright }} {% endif %}</p>
                        <ul class="list-inline grey">
                            <li class="list-inline-item"><a class="grey" href="/privacy-policy/">Privacy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <p class="grey mt-5 mt-lg-0">COMPANY</p>
                    <ul class="list-unstyled white">
                        <li class="mb-4"><a href="{{"/aboutus" | relative_url}}">About Us</a></li>
                        <li class="mb-4"><a href="{{"/stories" | relative_url}}">Stories</a></li>
                        <li class="mb-4"><a href="{{"/contact" | relative_url}}">Contact</a></li>
                        <li class="mb-4"><a href="{{"/sitemap" | relative_url}}">Sitemap</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3">
                    <p class="grey mt-5 mt-lg-0">MEMBERS</p>
                    <ul class="list-unstyled white">
                        <li class="mb-4"><a href="#">Become an Eltham Family Dental Member</a></li>
                        <li class="mb-4"><a href="#">Members</a></li>
                        <li class="mb-4"><a href="#">Suppliers</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <p class="grey mt-5 mt-lg-0">FOLLOW US</p>
                    <ul class="list-unstyled white">
                        <li class="mb-4">
                            <a target="_blank" href="https://www.facebook.com/eyecareplus">
                                <img src="https://www.eyecareplus.com.au/wp-content/themes/eyecareplus/assets/images/icons/fb.svg" class="img-fluid mr-2" width="20" alt="">Facebook
                            </a>
                            </li>
                        <li class="mb-4">
                            <a target="_blank" href="https://www.linkedin.com/company/eyecare-plus">
                                <img src="https://www.eyecareplus.com.au/wp-content/themes/eyecareplus/assets/images/icons/linkedin-white.svg" class="img-fluid mr-2" width="20" style="vertical-align: -2px;" alt="">LinkedIn
                            </a>
                        </li>
                        <li class="mb-4">
                            <a target="_blank" href="https://twitter.com/eyecareplus">
                                <img src="https://www.eyecareplus.com.au/wp-content/themes/eyecareplus/assets/images/icons/tw.svg" class="img-fluid mr-2" width="20" alt="" style="vertical-align: -2px;">Twitter
                            </a>
                        </li>
                        <li class="mb-4">
                            <a target="_blank" href="http://www.youtube.com/user/EyecarePlusAU/featured">
                                <img src="https://www.eyecareplus.com.au/wp-content/themes/eyecareplus/assets/images/icons/yt.svg" class="img-fluid mr-2" width="20" alt="" style="vertical-align: -2px;">YouTube
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->