<!-- Start Header -->
<header class="header py-1">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
			<a class="navbar-brand" href="{{"/" | relative_url}}">
			<img src="{{"svg/min/logo.svg" | relative_url}}" alt="Eltham Family Dental">
			</a>
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <small class="font-weight-bold black">MENU</small>
				<img src="{{"svg/min/hamburger.svg" | relative_url}}" class="img-fluid open" width="14" alt="hamburger">
				<img src="{{"svg/min/close.svg" | relative_url}}" class="img-fluid close d-none" width="14" alt="close">
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul id="menu-primary-menu" class="navbar-nav ml-lg-auto clearfix">
					<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-174 nav-item">
						<a href="#" data-toggle="dropdown" class="nav-link">Home</a>
					</li>
					<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-174 nav-item">
						<a href="#" data-toggle="dropdown" class="nav-link">About Us</a>
					</li>
					<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-174 nav-item">
						<a href="#" data-toggle="dropdown" class="nav-link">What Can We Offer</a>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-177 nav-item">
						<a href="#" class="nav-link">Treatments</a>
					</li>
					<li class="menu-images menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-183 nav-item">
						<a href="#"  class="nav-link">Team</a>
					</li>
					<li class="mt-4 mt-lg-0 d-none d-lg-inline-block">
						<a class="btn btn-white" href="https://www.eyecareplus.com.au/find-optometrist/">Find an Optometrist</a>
					</li>
				</ul>
	</div>
</nav>
</div>
{% include svg-defs.svg %}
</header>
<!-- End Header -->