.section {
    &.section-contact-us {
        @include media-breakpoint-up(lg) {
            padding: 90px 0;
        }
	    p:last-child {
	    	margin-bottom: 1rem;
	    }
	    p.small.grey {
	    	font-weight: bold;
	    }
    }
}

.section-contact-us {
    position: relative;
    line-height: 21px;
    h1,h3,h4 {font-size: 32px;color: $black;}
    @include media-breakpoint-down(sm) {
    	h1,h3,h4 {font-size: 28px;color: $black;}
    }

    &:before {
        @include media-breakpoint-up(lg) {
            @include pseudo-content;
            left: 50%;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $grey3;
        }
    }

    .small {
        font-size: 16px;
    }
    .mb-70 {
    	margin-bottom: 70px;
    }
    .icon {
        margin-right: 10px;
        color: $colorPrimary;
        vertical-align: top;
    }
}