#content {
    .privacy {
        ul.page-list, ul.post-list {
            padding-left: 17px;
            li a {
                color: $black;
                font-size: 16px;
                @include media-breakpoint-up(md) {
                    font-size: 18px;
                }
            }
        }
    }
}

