/* 3 SHADE COLUMNS
-------------------------------------------------*/
.three-shade-col {
    @extend %clearfix;
    @extend %align-center;
    display: block;
    @include breakpoint(small) {
        display: flex;
    }
    [class^="col-"] {
        padding: $space*3 $space;
        color: $white;
        @include breakpoint(medium) {
           padding-left: $space*3;
           padding-right: $space*3;
        }
        &:nth-child(1) {
            background: $colorPrimary;
        }
        &:nth-child(2) {
            background: lighten($colorPrimary, 4%);
        }
        &:nth-child(3) {
            background: $colorPrimary;
        }
    }
    // iOS phone number auto detect
    a[href^=tel] {
        color: inherit;
        text-decoration: none;
    }
    .icon {
        font-size: 2rem;
        color: $white;
        position: static;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -ms-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
    }
    h3 {
        margin-top: 20px;
        color: $white;
    }
    ul {
        @extend %no-bullet;
    }
    table {
        @extend %align-left;
        width: 100%;
        td:last-child {
            @extend %align-right;
        }
    }
    .col-lg-4 {
        ul li, ul li a, tr td, p {
            // color: rgba(255,255,255,.75);
            color: #f4feff;
            @include media-breakpoint-down(sm) { font-size: 16px; }
            @include media-breakpoint-up(md) { font-size: 13px; }
            @include media-breakpoint-up(xl) { font-size: 14px; }
        }
        &:hover .icon {
            -webkit-transform: translateY(-18px);
            -ms-transform: translateY(-18px);
            -o-transform: translateY(-18px);
            transform: translateY(-18px);
        }
    }
}