{% include doctype-head.html %}
<body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top">
    {% include svg-defs.svg %}
    <!--[if lt IE 10]>
        <p class="oldie">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    {% include header.html %}

        {{ content }}

    {% include footer.html %}

    {% if site.analytics %}
        {% include analytics.html %}
    {% endif %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
    var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('location'), {
          zoom: 17
        });
        var geocoder = new google.maps.Geocoder();
        codeAddress(geocoder, map);
    }

    function codeAddress(geocoder, resultsMap) {

        //In this case it gets the address from an element on the page, but obviously you  could just pass it to the method instead
        var address = "{{ site.map.address }}";

        geocoder.geocode( { 'address' : address }, function( results, status ) {
            if( status == google.maps.GeocoderStatus.OK ) {

                var logo = {
                    url: "{{ site.map.address_details }}",
                    size: new google.maps.Size(300, 133),
                    scaledSize: new google.maps.Size(90, 39),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(45, 80),
                };
                //In this case it creates a marker, but you can get the lat and lng from the location.LatLng
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker( {
                    map     : resultsMap,
                    position: results[0].geometry.location,
                    animation: google.maps.Animation.BOUNCE,
                    icon: logo
                });
                var marker = new google.maps.Marker( {
                    map     : resultsMap,
                    position: results[0].geometry.location,
                });
            } else {
                alert( 'Google Map was not successful for the following reason: ' + status );
            }
        } );
    }
    </script>
    <script rel="preconnect" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKAMl4XkheS99AWKFP-gKmNZbyJ_mHOy0&callback=initMap" async defer></script>
    {% if page.name == 'team.html' %}
    <script src="{{ "/js/owl.carousel.js" | relative_url }}"></script>
    <script>
    /* Team slideshow
    ----------------------------------------------*/
    (function($) {
        $("#team-carousel").owlCarousel({

            autoPlay: 5000, //Set AutoPlay to 5 seconds

            items : 4,
            itemsDesktopSmall : [979,3],
            stopOnHover: true
        });

    })(jQuery);
    </script>
    {% endif %}

    <script src="{{ "/js/all.min.js" | relative_url }}"></script>

</body>
</html>
