/* FOOTER
-------------------------------------------------*/
.footer {
    margin-bottom: 48px;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }
    .small {
		font-size: 14px;
	}
	.white li a {
	    color: #fff;
	}
}

.bg-black {
    background-color: #1D1D1D;
}
.white {
    color: #fff;
}
.grey {
    color: #7D7D7D;
}
// .line-break {
// 	span {
// 		&::before {
// 			content: "\A";
// 		}
//     }
// }