/* FOOTER
-------------------------------------------------*/
.footer {
    margin-bottom: 48px;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }
}

.bg-black {
    background-color: #1D1D1D;
}